/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-align: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --text-color: #000000;
    --main-color: #83b735;
}
section{
    padding: 50x 10%;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 100px;
    background: #edecea;
}

.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
}

.logo span{
    color: var(--main-color);
}

.navbar{
    position: relative;
    display: flex;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--main-color);
    text-decoration: none;
}

.navbar a:hover{
    color: #000000;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.home{
    width: 100%;
    min-height: 100vh;
    background-image: url(img/GIFA.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.home-text h1{
    font-size: 2.7rem;
}

.home-text p{
    font-size: 0.938rem;
    margin: 0.4rem 0 1.8rem;
}

.home-text span{
    color: var(--main-color);
}

.btn{
    padding: 10px 14px;
    background-color: var(--main-color);
    color: white;
    border-radius: 0.3rem;
    font-size: 14px;
    text-decoration: none;
}

.btn:hover{
    background: #83b735;
}

.title-price{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.title-price h3{
    font-size: 1rem;
    font-weight: 600;
}

.box span{
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 12px;
    color: var(--main-color);
}

.stars .bx{
    color: var(--main-color);
}

.box .bx-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px;
    font-size: 20px;
    color: white;
    border-radius: 4px 0 4px 0;
    background: var(--main-color);
}

.box .bx-cart:hover{
    background: #83b735;
}

.shop {
    text-align: center;
    width: 100%;
    height: auto;
}

.shop .heading {
    margin-top: 3rem;
}

.shop-text h2{
    color: #83b735;
}

.box .box-img{
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 44px 4px 0 0;
}

.box{
    position: relative;
    box-shadow: 1px 4px rgb(0, 0, 0, 0.1);
    gap: 1rem;
    margin-top: 2rem;
    text-align: center;
}

.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    justify-content: center;
}

.box .box-img img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.shop-container,.new-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.new-container .box{
    border-radius: 4px;
    text-align: center;
}

.new-container .box .box-img{
    border-radius: 4px;

}

.about{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 1rem;
margin-bottom: 3rem;
}

.about-img img{
    width: 80%;
    border-radius: 10px;
    object-fit: contain;
}

.about-text span{
    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}

.brands .heading {
    text-align: center;
}

.brands-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.brands-container img{
    width: 100px;
    filter: grayscale(1);
}

.brands{
    margin-bottom: 3rem;
}

.brands-container img{
    width: 100px;
    filter: grayscale(0);
}

.Contact-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    text-align: center;
}

.Contact-container img{
    width: 50px;
    filter: grayscale(1);
}

.Contact-container img{
    width: 50px;
    filter: grayscale(0);
}

.newsletter .heading{
    text-align: center;
}
